<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Category</title>
</head>
<body>
    <h1>Upload Category</h1>
    
    <form th:action="@{/admin/categories/upload}" method="post" enctype="multipart/form-data">
        
        <label for="name-cate">Name:</label>
        <input type="text" id="name-cate" name="name-cate" required>
        <br><br>

        <label for="image">Upload New Image:</label>
        <input type="file" id="image" name="image">
        <br><br>

        <label for="status">Status:</label><br>
        <select id="status" name="status" required>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
        </select><br><br>

        <button type="submit">Upload Category</button>
    </form>
</body>
</html>
